h1 {
	font-family: "Lucida Handwriting";
	text-align: center;
}

h3, h4, h5, p, li {
	font-family: "Georgia";
	margin-top: 20px;
	margin-left: 40px;

}

#teAgredecemos {
	display: grid;
	place-items: center;
	max-width: 900px;
	width: 50vw;
	margin: 0 auto;
	background: white;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	box-sizing: border-box;
}

#teAgredecemos p {
	font-family: serif;
	max-width: 80%;
}

#page {
	display: grid;
	grid-template-columns: 2fr 3fr 3fr; /* content / photo */
	column-gap: 10px;
	max-width: 100%;
	margin: 0 20px auto;
	align-items: flex-start;
	/*justify-content: flex-end;*/
	padding: 20px;
}

.speechBubble {
	display: flex;
	justify-content: flex-start;
/*	justify-content: flex-end;
	align-items: center;*/
}

.reservaciones {
	font-family: "Georgia";
}

.ropa {
	font-family: "Georgia";
}

.hotel {
	font-family: "Georgia";
	margin-left: 20px;
}

/*/* The actual bubble */
/*.bubble {
  background: #fff;
  border-radius: 15px;
  padding: 15px 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  position: relative;
  max-width: 90%; /* prevent bubble from being too wide */
/*}*/

/* Optional "pointer" triangle */
/*.bubble::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -15px; /* points to the photo */
	transform: translateY (-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

/* Remove default heading margins inside bubble */

.bubble h3, .bubble h4 {
  margin: 5px 0;
}

.position {
	display: flex;
	justify-content: flex-end;
}

.right-photo {
	width: 65vw;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.placement {
	display: flex;
	justify-content: flex-end;
}

.next-photo {
	width: 65vw;
	max-width: 100%;
	height: 405px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
	#page {
		grid-template-columns: 1fr; /* stack content and photo */
	}

	.speechBubble {
		justify-content: center;
	}

	/*.bubble::after {
		display: none;
	}*/
	.position {
		justify-content: center;
		margin-top: 20px;
	}

	.right-photo , .next-photo {
		width: 100%;
		/*max-width: 300px; /* prevent it from getting too big */*/
	}
}